body {
  font-family: 'Arial';
}
table {
  width: 100%;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  border-collapse: collapse; border-spacing: 0;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
}

th span {
  margin-right: 1rem;
}

input {
  -webkit-appearance: none;
  border: 1px solid gray;
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
  background: #f0f0f0;
}

.pagination {
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}
.form-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.input-wrapper {
  margin-bottom: 20px;
}
.input-wrapper button, .btn-default {
  background-color: #0f7fff;
  border: 0;
  padding: 10px 20px;
  color: #fff;
}
.link {
  color: #0f7fff;
  padding: 0;
}
